h1{
    color: #000;
}
.infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}
div img {
    width: 400px;
    height: 400px;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba( 0,0,0,0.5)), url(../chess.jpg);
    height: 100vh;
    background-size: cover;
    background-size: center;
    color:white;
} 
p li{
    color: #fff;
}



    
